# ============================================
# Visual Studio Code
# ============================================
.vscode/

# ============================================
# Visual Studio
# ============================================
.vs/
bin/
obj/

# ============================================
# Variables de entorno y credenciales
# ============================================
.env

# ============================================
# Python
# ============================================
venv/
.venv/
__pycache__/
*.pyc

# ============================================
# Archivos temporales
# ============================================
*.tmp
*.temp
*.log

# ============================================
# Sistema operativo
# ============================================
Thumbs.db
.DS_Store